@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom animation for name sliding from top */
@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Custom animation for name sliding out from top */
@keyframes slideOutFromTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

/* Custom animation for name sliding Right to Left*/
@keyframes slideRightToLeft {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Custom animation for name sliding Left to Right */
@keyframes slideLeftToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}

/* Custom animation for fading in information */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Custom animation for up in information */
@keyframes moveUp {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}

.animate-moveUp {
  animation: moveUp 0.5s forwards;
}

.animate-slideInFromTop {
  animation: slideInFromTop 0.5s forwards;
}

.animate-slideOutFromTop {
  animation: slideOutFromTop 0.5s forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.5s forwards;
}

.hidden {
  display: none;
}

.animate-rightToLeft {
  animation: slideRightToLeft 0.5s forwards;
}

.animate-leftToRight {
  animation: slideLeftToRight 0.5s forwards;
}

.animate-fadeOut {
  animation: fadeOut 0.3s forwards;
}

/* Gallery styles */
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gallery-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
